@import 'variables';
@import 'mixins';

//font-family: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

//font-family: 'PT Serif', serif;
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
}

::placeholder{
    font-size:$fsize - 2;
}

//star rating font 
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    word-wrap: normal;
    // -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}
i {
    cursor :  pointer;
}

body{
    @include sitefont;   
    background:#F8FCFD;
    height:100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html, body {
   margin:0;
   padding:0;  
}

a{   
    &:hover{
        text-decoration: none;
    }
}

.h1, .h2, .h3, .h4, .h5, .h6{
    margin:0;
    padding:0;
}

.h5{
    line-height:30px;
}

.whitebox{
    background:$white;    
}

::placeholder{
    font-size:$fsize - 1!important;
    color:lighten($black, 70%)!important;
}

.blue-btn{
    background:$blue;
    padding:6px 30px;
    border-radius:25px;
    color:$white;
    font-size:$fsize;
    display:inline-block;
    @include transition;
    border:1px solid transparent;
    cursor: pointer;

    &:hover{
        background:$white;
        color:$blue;
        padding:6px 30px;
        border:1px solid $blue;
      
    }
}


.orange-btn{
    background:$orange;
    padding:6px 30px;
    border-radius:25px;
    color:$white;
    font-size:$fsize;
    display:inline-block;
    @include transition;
    border:1px solid transparent;
    cursor: pointer;

    @include mob{
        padding:6px 20px;
    }

    &:hover{
        background:$white;
        color:$orange;
        padding:6px 30px;
        border:1px solid $orange;

        @include mob{
            padding:6px 20px;
        }
      
    }
}

input.orange-btn{
    &:focus{
        outline:none;
        border:none;
    }
}
.orange-btn-border{
    background:$white;
    padding:6px 30px;
    border-radius:25px;
    color:$orange;
    font-size:$fsize;
    display:inline-block;
    @include transition;
    border:1px solid $orange;

    &:hover{
        background:$orange;
        color:$white!important;
        padding:6px 30px;       
        border:1px solid transparent;
    }
}

//some extends
.ptregular{
    font-family: 'PT Serif', serif;
    font-weight:400;
}
.ptbold{
    font-family: 'PT Serif', serif;
    font-weight:700;
}
.flight{
    font-weight:300;
    font-family: 'Poppins', sans-serif;
}
.fsbold{
    font-weight:600;
    font-family: 'Poppins', sans-serif;
}
.bgorange{
    background:$orange;
}

.forange{
    color:$orange;
}
.fblue{
    color:$blue;
}
.fwhite{
    color:$white;
}
.fgray{
    color:lighten($black, 50%);
}
.fblack{
    color:$black;
}
.fgreen{
    color:green!important;
}

.badge{
    font-weight:400;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
   
    /* Center slide text vertically */
    @include verticalcenter;
}

.cust-container{
    width:85%;
    margin:0 auto;
    position: relative;
}

.fixed-theme{
    @include shadowbot;
    padding:0;
    .navbar-brand{
        img{           
            @include transition;
            width:150px;
        }
    }
}



.list-items{ 
    @include clearfix;
    
    li{
        padding-bottom:10px;
        padding-left:20px;
        position: relative;
        margin-right:15px;
        float:left;
        
        &:before{
            content:'';
            background:url(../img/list-img.svg)no-repeat 0 0;
            width:15px;
            height:15px;
            @include positionall(5px, inherit, inherit, 0);           
        }
    }
}


//header
header{
    background:$white;
    position:relative;
    z-index:99;
    min-height:65px;
    padding:6px 0;

    &:before{
        content:'';
        background:url(../img/purty-wood.png)repeat 0 0;
        width:100%;
        height:100%;
        @include positionall(0,0,0,0);
        opacity:0.5;
        
    }

    .search-icon{
        margin-left:20px;

        @include tab{
            position:relative;
            left:25%;
        }

        .icomoon{
            font-size:$fsize + 5;
            color:lighten($black,25%);
        }
    }

    .gif-flag{
        position:fixed;
        top:2px;
        left:0px;
        z-index: 99;
        display:none;      
       

        img{
            width:100px;
        }
    }

    .v-image{
        position:fixed;
        top:2px;
        right:0px;
        z-index: 99;

        img{
            width:75px;
        }
    }

   
    .search-visible{
        background:$white;       
        @include positionall(0,0,0,0);  
        width:100%;    
        background:$white;
        padding:10px;
        min-height:55px;   
        @include transition;
        opacity:0;  

        .form-group{
            width:95%;
            margin:0;

            @include mob{
                width:85%;
            }

            input{
                font-size:$fsize - 1;
            }
        }
        .closeicon{
            width:5%;
            text-align:center;

            .icomoon{
                font-size:$fsize + 5px;
                color:lighten($black, 50%)
            }
        }        
    }

    .search-block{
        @include positionall(-10px,0,0,0);  
       opacity:1;
    }

    


    //nav styles
    .navbar-brand{
        img{
            width:210px;
            @include transition;
        }
    }   
    .dropdown{
        .navbar-nav{
            .nav-link{
                &:hover{
                    background:$blue;
                    color:$white!important;
                }
            }
        }
    }
    .t-link{ 
        animation-duration: 3s;
       
        span{
            padding:2px 8px;
            display:inline-block;
            background:$blue;
            color:$white;
            border-radius:5px;
            @include transition;
            position:relative;
            top:-2px;
        }
       &:hover{                  
           span{
            background:$orange; 
           }                          
       }
   }
   .cart-link{
    position:relative;
    margin:0 10px;
     
     .icomoon{
         font-size:$fsize + 8;
          position:relative;                   
     }
     .value{
         background:$blue;
         width:22px;
         height:22px;
         position:absolute;
         top:5px;
         right:0;
         border-radius:50%;
         text-align:center;
         display:inline-block;
         line-height:22px;
         color:$white;
         font-size:$fsize - 2;

         @include mob{
             right:-25px;
         }
         @include mlscape{
             right:-25px;
         }
         @include tab{
            right:-25px;
        }
     }
 }
    //nav styles ends   
}

.DynamicChakra{
    opacity:0;   
}

  //home slider 
  .home-slider{
    width: 100%;
    height: 100vh;
    position:relative;

    @include tab{
        height:60vh;
    }

    .video-section{   
        position:relative;
        height:100vh;

        @include tab{
            height:60vh;
        }

        .text-video{
            @include verticalcenter;
            @include positionall(0,0,0,0);
            z-index:99;     
            
            @include mob{
                display:none;
            }
            @include mlscape{
                display:none;
            }

            h1{
                font-size:12em;             
                @extend .fsbold;
                letter-spacing: -3px;
                font-weight:700;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                mix-blend-mode: difference;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: $white;    
                text-align:center;     
                opacity:0.5;

                @include tab{
                    font-size:6em;
                }                
            }        
          
        }
    
        &:after{
            content:'.';          
            background:url(../img/bg-trans.png) repeat 0 0;
            width:100%;
            height:100%;
            @include positionall(0,0,0,0);     
            
            @include mob{
                display:none;
            }
        }
    
        video{       
            object-fit: cover;
            width:100%;  
            height:100vh;     
    
            source{
                width:100%;              
                @include positionall(0,0,0,0);                    
            }
        }
    
        .move-top-video{
            width:65px;
            height:65px;
            @include verticalcenter;
            border:1px solid $white;
            border-radius:50%;
            @include positionall(inherit,inherit,20%,50%);
            margin-left:-30px;
            z-index:999;
            @include transition;
            animation-duration:5s; 
    
            &:hover{
                @include positionall(inherit,inherit,20%,50%);
            }
    
            .icomoon{
                color:$white;
                font-size:$fsize * 3;
            }
        }
    }

    .ashokaChakra{
        position:fixed;       
        width:500px;  
        height:500px;      
        top:20%;
        z-index:99;
        right:-250px;  
      
        img{
            width:100%;
            opacity:0.2;
            animation-name:chakraAnimation;
            animation-iteration-count: infinite;
            animation-duration: 25s;           
            transition-duration: 25s;
            animation-timing-function: linear;

            @include mob{
                display:none;
            }    
            
        }
        @include mob{
            display:none;
        }
        @include mlscape{
            display:none;
        }
          @include tab{
            display:none;
        }

    }   

}

@keyframes chakraAnimation{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  

  //vsp columns 

  .vspcol{
      display:flex;   
      
     
      .img-div{
          width:40%;

          @include tab{
              display:none;
          }  
      }
      .article-div{
          width:60%;
          padding:20px!important;

          @include mob{
              width:100%;
          }
          @include tab{
            width:100%;
          }
          @include mlscape{
            width:100%;
          }  

          .h6{
              font-size:$fsize + 1;
              color:$blue;
              @extend .fsbold;
          }
          h3{
              font-size:$fsize * 3;
              @extend .ptregular;
          }
      }
  }

  .vspleft{
      background:#F5EDE6;

      @include mob{
        display:block;
    }


      @include mob{
          .img-div{
            display:none;   
          }
                  
    }
  }
  .vsprt{
      background:#DBE8E5;

      @include mob{
          flex-flow:row-reverse;
          flex-wrap:wrap-reverse;
      }

      .img-div{
        @include mob{
            text-align:center;
            margin:10px auto;            
        }
        img{
            height:100%;
            @include objectfitcover;
            width:100%;

            @include mob{
                width:150px;
                height:150px;
                border-radius:50%;
            }
         }
      }
  }

  //publications
  .publications{
    padding:25px 0;
    background:$white;
    @include shadowbot;
  }


  //home gallery
  .home-gallery{
      padding:25px 0;    
      @include shadowbot;

      .title-section{
          .h4{
              background:#F8FCFD;
          }
      }
  }

  .title-section{
      text-align:center;
      position:relative;
      z-index:10;
      margin-bottom:25px;
      .h4{
          font-size:$fsize * 2 + 5;
          @extend .ptregular;
          text-align: center;
          background:$white;
          display:inline-block;
          padding:6px 12px;
          

          &:before{
            content:'';
            width:100%;
            height:1px;
            background:lighten($black, 50%);
            @include positionall(30px, 0, inherit, 0);           
            z-index: -1;
        }       
      }
      p{
        text-transform: uppercase;
        letter-spacing: 2px;
        color:$blue;
        @extend .fsbold;
        font-size:$fsize - 1;
    }
  }

  //poems 
  .home-poems{
      background: url(../img/poems-bg.jpg) no-repeat 0 0;
      background-size:cover;
      padding:60px 0 0 0;
      position: relative;

      &:before{
          content:'';
          background:$orange;
          @include positionall(0,0,0,0);
          opacity:0.8;
      }

      .h5{
        font-size:$fsize * 2 + 5;
          color:$white;
          @extend .ptregular;
          text-align:center;
          margin-bottom:20px;
      }
      .poems-container{
          position:relative;
        article{
            min-height:300px;
            p{
                font-size:$fsize;
                font-style: italic;
                padding-bottom:50px;
                color:$white;
            }
        }
        .swiper-button-next, .swiper-button-prev{
            width:45px;
            height:45px;
            border:1px solid $blue;
            border-radius:50%;
            @include transition;
           margin-top:30px;

            &:hover{
                background:$blue;
                color:$white;
            }
        }
        .swiper-button-next:after, .swiper-button-prev:after{
            font-size:$fsize + 5;
        }
        .swiper-button-next{
            right:43%;

            @include mob{
                right:23%;
                margin-top:60px;
            }
            @include mlscape{
                right:33%;
                margin-top:60px;
            }
        }
        .swiper-button-prev{
            left:43%;

            @include mob{
                left:23%;
                margin-top:60px;
            }
            @include mlscape{
                left:33%;
                margin-top:60px;
            }
        }
      }
      
  }

  //poems 
  footer{
      background:$blue;
      padding:30px 0;
      position:relative;

      .nav{
          margin-bottom:50px;
          .nav-link{
              color:$white;
              @include transition;

              &:hover{
                  color:$orange;
              }
          }
      }
      p{
          color:$white;
          padding-bottom:0;
      }
      .termsnav{
          margin-bottom:20px;
          .nav-link{
            font-size:$fsize - 2;
            color:$orange;
            font-style: italic;

            &:hover{
                color:$white;
            }
          }
      }
      .socialnav{
          margin-bottom:0;
          .nav-link{
              width:40px;
              height:40px;
              background:$white;
              margin:0 5px;
              border-radius:50%;

              &:hover{
                  background:$orange;

                    .icomoon{
                        color:$white;
                    }
              }

              .icomoon{
                  color:$black;
              }
          }
      }

      .movetop{
          width:50px;
          height:50px;         
          position:fixed;
          bottom:15px;
          right:15px;
          border-radius:50%;
          display:inline-block;
          text-align:center;
          line-height:53px;
          display:none;
          background:$orange;
          z-index: 999;
          @include transition;

          &:hover{
              background:$blue;              
          }

          .icomoon{
              font-size:$fsize + 6;
              color:$white;
          }
      }
  }

  //vbooks publoications
  .home-publications{
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 240px;
        height: 355px;  
        display:block;
        //transofmrs
        // transform:translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(-75deg) scale(1);

        .img-box{
            width:100%;
            height:355px;
            overflow:hidden;
            position:relative;        
            @include transition;

            img{
                width:100%;               
            }

            &:hover{
                &:before{
                    content:'';
                    background:$black;
                    width:100%;
                    height:100%;
                    opacity:0.4;
                    @include positionall(0,0,0,0);
                }
                .hover-section{
                    bottom:45%;
                    opacity:1;
                }
            }

            .hover-section{
                text-align:center;
                position:absolute;
                bottom:45%;
                z-index: 9;
                text-align:center;
                width:100%;              
                opacity:0;
                @include transition;
                a{
                    width:45px;
                    height:45px;
                    background:$white;
                    border-radius:50%;
                    display:inline-block;
                    text-align:center;
                    margin:0 2px;
                    line-height:50px;

                    .icomoon{
                        font-size:$fsize + 5;
                        color:$black;
                    }
                }
            }
        }
        .book-details{
            width:100%;
            padding:10px;
            background:$white;
            @include shadowbot;
            box-sizing: border-box;

            p{
                font-size:$fsize - 1;
                color:$blue;
                padding-top:3px;
                margin-bottom:0;
            }
        }
      }
      .swiper-pagination{
          bottom:0!important;
          display:none;
      }
  }

  .book-pop-article{
      padding:10px;
      .h6{
          font-size:$fsize + 3;
          color:$blue;
          padding-bottom:10px;   
          margin-bottom:10px;       
      }
      p{
          font-size:$fsize - 1;
      }
  }

  .list-dl{
      display:flex;
      margin:0;
      padding:0;

      dt{
          font-weight: 500;
          color:$black;
          font-size:$fsize;
          padding:2px 25px 2px 10px;
          width:40%;
        
      }
      dd{       
        color:lighten($black, 45%);       
        padding:2px;
    }
  }

  .great-people{
      margin-top:-100px;
      .swiper-slide{
          img{
              width:100px;
          }
      }
     
  }

  .price-single{   
    display:inline-block;

    &:before{
      content: "\f156";
      font-family: 'icomoon' !important;    
      font-size:$fsize;
      position:relative;
      top:2px;
      left:-2px;
    }      
}

  .price{
      margin:0;
      padding:0;
      .offer{
          font-size:$fsize + 2;
          color:$orange;
          @extend .fsbold;
          margin-right:10px;
          display:inline-block;

          &:before{
            content: "\f156";
            font-family: 'icomoon' !important;
            color:$orange;
            font-size:$fsize + 2;
           position:relative;
           top:2px;
           left:-2px;
            
          }

         
      }
      .oldprice{
          font-size:$fsize - 2;        
          color:lighten($black, 50%);
          text-decoration:line-through;

          &:before{
            content: "\f156";
            font-family: 'icomoon' !important;
            color:lighten($black, 50%);
            font-size:$fsize - 2;
            position:relative;
            top:1px;
            left:-2px;
             
          }
      }
  }


  //sub page styles 
  main.subpage-main{

    .subpage-header{
        background: linear-gradient(90deg, $blue, $orange 100%);
        background-position:50% 50%;
        padding:60px 0 20px 0;   
        
        @include mob{
            padding:20px 0 20px 0;   
        }
        
        h1{
            font-size:$fsize * 2 + 5;
            color:$white;
            @extend .ptregular;
        }
        nav{
            .breadcrumb{
                background:none;
                padding-left:0;
                padding-top:0;
                .breadcrumb-item{

                    &:before{
                        color:$white;
                    }
                    a{
                        color:$white;
                        font-size:$fsize - 2;
                    }
                }
                .active{
                    color:$white;

                    span{
                        border-bottom:1px solid $white;
                        font-size:$fsize - 2;
                    }
                   
                }
            }
        }
    }

    .subpage-body{
        p{
            text-align: justify;
            margin-bottom:0;
            padding-bottom:15px;
        }
    }
      min-height:1000px;
      padding-top:60px;

      

      .velchalaHeader{
          height:600px;
          &:before{
            content:'';
            width:100%;
            height:760px;
            @include positionall(-12em, inherit, inherit, 0);
            background: linear-gradient(90deg, #07A1BA, #26E5D8 100%);
            background-position:50% 50%;
            background-origin: padding-box;
            background-size:auto;
            transform:skewY(-10deg);
            
            @include mob{
                transform:skewY(0deg);
            }
            @include tab{
                transform:skewY(0deg);
            }
          }
            article{
                padding-top:20%;

                @include mob{
                    padding-top:10%;
                }
                @include mlscape{
                    padding-top:10%;
                }
            }
            h1{
                font-size:$fsize * 3 +10;
                color:$black; 
                @extend .ptregular;      
                
                @include mob{
                    font-size:$fsize * 2 + 5;
                }
                @include tab{
                    font-size:$fsize * 2 + 5;
                }
            }
            p{
                font-size:$fsize + 5;
                color:$white; 
                @extend .ptregular;    

                @include mob{
                    font-size:$fsize;
                }         
            }
            .velchala-fig{              
                text-align:center;                            
                width:380px;
                height:380px;
                @include positionall(40px,-10px,inherit,inherit);
                text-align:center;
                z-index:9;        
                
                @include mob{
                    width:300px;
                    height:300px;
                    position:relative;
                    margin-top:20px;
                }
                @include tab{
                    width:300px;
                    height:300px;
                    position:relative;
                    margin-top:20px;
                }
               
                img{
                    width:380px;
                    height:380px; 
                    @include objectfitcover;                   
                    border-radius:50%;                    
                    padding:10px;     
                    @include transition;   
                    
                    @include mob{
                        width:300px;
                        height:300px; 
                    }
                    @include tab{
                        width:300px;
                        height:300px; 
                    }
                }
            }
        }
    }
   
  //sub  main styles ends 


  .linktext{
    margin: 45px auto;
    width: 70px;
  }

  .video-testimonil-link {
    background: $white;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    @include transition;
    line-height: 50px;
    animation: icon-scaleout 1.5s infinite ease-in;

    a {
        width: 49px;
        height: 49px;
        background: $blue;
        display: block;
        border-radius: 50%;
        @include transition;

        &:hover {
            background: $white;

            .icomoon {
                color: $blue;
            }
        }
    }

    &:before {
        content: " ";
        position: absolute;
        z-index: -1;
        top: -17px;
        left: -17px;
        width: 84px;
        height: 84px;
        border-radius: 50%;
        opacity: 0.9;
        background: lighten($black, 80%);
        animation: icon-scaleout 1.5s infinite ease-in;
    }

    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: -7px;
        left: -7px;
        width: 63px;
        height: 63px;
        border-radius: 50%;
        opacity: 0.6;
        background: lighten($black, 65%);
        animation: icon-scaleout 1.5s infinite ease-in;
    }

    .icomoon {
        font-size: $fsize + 5;
        color: $white;
        padding-left: 5px;
        top: 2px;
        position: relative;
    }
}

@keyframes icon-scaleout {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.04);
    }

    100% {
        transform: scale(1);
    }
}

#ytplayer{
    height:500px;
}

.velchalaspage{
    padding-top:2rem;
}


.singleScroll{
  display: flex;
  grid-template-columns: min-content 1fr;

  @include mob{
      flex-wrap: wrap;
  }
   
    nav {
    white-space: nowrap;

    @include mob{
        width:100%;
    }
        ul{
            li{
                a{
                    display: block;
                    padding: 0.65rem 3rem 0.65rem 1rem;
                    color: $black;
                    text-decoration: none;
                    background:lighten($blue, 55%);
                    border-radius:5px;
                    margin-bottom:5px;
                    border-left:5px solid lighten($blue, 20%);
                }
                a.current{
                    background:$blue;
                    border-left:5px solid darken($blue, 10%);
                    color:$white;
                }
            }
        }
    }    
   
    .singleBody {
        padding-bottom: 2rem;       

        h2{
            background:$blue;
            color:$white;
            font-size:$fsize + 10;
            @extend .ptregular;
            padding:15px;
        }
        h3{
            font-size:$fsize + 5;
            color:lighten($black, 20%);
            @extend .ptregular;
            line-height:32px;
        }
        h4{
            font-size:$fsize + 5;
            @extend .ptregular;
            line-height:32px;
        }
    }

    section {
        padding: 0 0 1rem 2rem;
        margin: 0 0 1rem 0;
        min-height:350px;

        @include mob{
            padding: 0 0 1rem 0;
        }
    }

    @media (min-height: 350px) {
        nav ul {
            position: sticky;
            top: 0;
        }
    }
}

.top-vsp{
    background:url(../img/orange-img.png)no-repeat right center;
    min-height:200px;
    margin-top:-100px;
    position:relative;
}
span.label{
    background:$blue;
    padding:5px 10px;
    color:$white;
    font-size:$fsize - 2;
    font-style: italic;
}
.orangebg{
    background:$orange;
}

.vspban{
    img{
        width:188px;
        height:188px;
        border-radius:50%;
        border:10px solid $white;
        @include shadowbot;
        @include objectfitcover;
        margin-bottom:10px;
    }
}

.vspmaster{
    background:url(../img/orange-img2.png)no-repeat left center;
}

.sort{
    border-bottom:1px solid lighten($black, 90%);
    padding:5px 0;

    select.form-control{       
        padding:0 10px;
       font-size:$fsize - 1;
       line-height:20px;
    }
}

.wishlisticon{
    width:35px;
    height:35px;
    background:$white;
    @include positionall(10px, 10px, inherit, inherit);
    @include verticalcenter;
    @include transition;
    cursor: pointer;
    border-radius:50%;
    @include shadowbot;

    &:hover{
        background:$blue;

        .icomoon{
            color:$white;
        }
    }


    .icomoon{
        font-size:$fsize + 2px;
        color:$black;
    }
}

.book-item{
    margin-bottom:15px;
    figure.bookcover{
        position:relative;
        margin-bottom:0;
        overflow: hidden;
        min-height:300px;

       
        img{
            width:100%;
            @include transition;
            min-height:380px;
            max-height:380px;
            object-fit: cover;
        }
        .wishlist-icon{
           @extend .wishlisticon;
        }
        .badge{
            @include positionall(10px, inherit, inherit, 10px);
        }
    }
    
    article{
        text-align:center;
        @include transition;
        padding:14px 10px;
        a{
            color:$black;
            font-size:$fsize;
            @extend .fsbold;

            &:hover{
                color:$blue;
            }
        }
    }

    //hover
    &:hover{
        article{
            background:$white;
            @include shadowbot;
        }
        figure.bookcover{

            img{
                transform: scale(1.02,1.02);
                filter: grayscale(0.5);
            }

            .wishlist-icon{
                background:$blue;
               
                .icomoon{
                    color:$white;
                }
            }
        }
    }
}

.alert{
    display:none;
    position:fixed;
    top:15px;
    right:15px;
    z-index:9999;
    width:500px;
    @include shadowbot;

    @include mob{
        right:inherit;
        width:95%;
    }
}

.book-top-detail{
    margin-top:-35px;

    .figure-detail{
        margin:0;
        text-align:center;

        img{
            padding:50px;
            border:1px solid lighten($black, 90%);

            @include mob{
                padding:0;
                border:none;
            }
        }
    }
    .book-detail-rt{
        .wishlist-icon{
            @extend .wishlisticon;

            @include mob{
                top:-60px;
            }
            @include mlscape{
                top:-60px;
            }
        }
        .price{
            .offer{
                font-size:$fsize + 5!important;

                &:before{
                    font-size:$fsize + 5!important;
                }
            }
        }
        .basic-description{
            @extend .fgray;
            line-height:25px;
        }
        .book-specs{
            padding:20px 0;
          
            .speccol{               
                           

                dl{
                    margin:0;
                    padding:7px 0;                   
                    dt{
                        font-size:$fsize;
                        @extend .fsbold;
                        line-height:16px;
                    }
                    dd{
                        font-size:$fsize - 2;
                        @extend .fgray;
                        margin:0;
                    }                    
                }               
            }           
        }
        .qty{
            width:60px;
        }
    }
}

.postlogin-namethumb{
    width:30px;
    height:30px;
    border-radius:50%;
    @include objectfitcover;
    margin-right:10px;
}

.social-share{
    display:flex;
    flex-wrap: wrap;
    padding-bottom:25px;

    .span-share{
        @include mob{
            width:100%;
        }
    }
    .sharesocial{
        width:27px;
        height:27px;
        border-radius:5px;
        margin:0 5px;
        display:inline-block;
        @include transition;

        .icomoon{
            font-size:$fsize * 2 + 6;
        }
        &:hover{
            opacity:0.6;
        }
    }
    .icon-facebook-square{
        color:#3B5998;
    }
    .icon-twitter-square{
        color:#03A9F4;
    }
    .icon-linkedin-square{
        color:#0077B5;
    }    
    .icon-instagram{
        color:#C13584;
    }
    .icon-whatsapp{
        color:#4AC959;
    }
    .icon-pinterest-square{
        color:#BD081C;
    }
}

.custom-tab{
    margin:35px 0;
    .resp-tabs-list{
        li{
            background:#eee;
            text-transform: uppercase;
        }
    }
    .resp-tab-content{
        border:none;    
        background:$white;  
        @include shadowbot;
        padding:40px;
        min-height:350px;

        p{
            padding-bottom:20px;
        }
    }
    .resp-tab-active{
        border:none!important;
        background:$blue!important;
        color:$white;
    }
}

.similar-books{
    margin:35px 0;
}

.user-reviewrow{
    display:flex;
    padding:15px 0;

    figure{
        width:10%;

        @include mob{
            width:auto;
        }
    }

    .user-details-review{
        width:90%;
        @include mob{
            width:100%;
            padding-left:15px;
        }
        @include mlscape{
            width:100%;
            padding-left:15px;
        }
        .stars-rating{
            margin-bottom:10px;
        }
        h4{
            span{
                @extend .fgray;
                font-size:$fsize - 2;
                padding-left:25px;
                @include mob{
                    width:100%;
                    display:inline-block;
                    padding-left:0;
                }
                @include mlscape{
                    width:100%;
                    display:inline-block;
                    padding-left:0;
                }
            }
        }
        p{
            color:lighten($black, 60%);
            line-height:24px;
        }
    }
    
}
.sm-thumb{
    width:70px;
    height:70px;
    border-radius:50%;   
    @include objectfitcover;

    @include mob{
        width:40px;
        height:40px;
    }
    
    @include mlscape{
        width:40px;
        height:40px;
    }
    @include tab{
        width:40px;
        height:40px;
    }
}

.stars-rating{
    li{
        padding:0 2px;

        .icomoon{
            color:$blue;
            font-size:$fsize + 1;
        }
    }
}

.leave-review{
    margin:15px 0 40px 0;
    textarea{
        height:100px;
        font-size:$fsize;
    }
}
.rating{
    .selected{
        color:$blue;
    }
}

.novideos-row{
    .icomoon{
        font-size:$fsize * 4;
    }
}

.video-col{
    margin-bottom:15px;
    @include transition;

    p{
        @include transition;
        padding:5px 10px;
        margin-top:-10px;
    }

    &:hover{
      p{
        background:$white;
        @include shadowbot;        
      }
    }

    iframe{
        height:185px;
    }
    
    p{
        font-size:$fsize -2;
        line-height:24px;
    }    
}

.albumitem{
    article{
        text-align:left;

        .h5{
           a{
            font-size:$fsize + 2;

            &:hover{
                color:$blue;
            }
           }
        }
        .icomoon{
            color:$blue;
        }
    }
    .photosnumber{
        background:$blue;
        border-radius:0;
        color:$white;
        padding:7px;
    }
}

.loginrt{
    background:url(../img/loginrtimg.jpg)no-repeat 0 0;
    width:100%;
    height:100vh;
    background-size:cover;
    display:none!important;
}

.login-section{
    width:352px;
    height:auto;
    margin:0 auto;

    @include mob{
        width:98%;
        margin:15% auto;      
    }
    @include tab{
        width:98%;
        margin:15% auto;      
    }

    .login-top{
        .brand-login{
            width:177px;
            margin-bottom:15px;
            margin:0 auto;
            display:block;
            text-align:center;
        }
        h1{
            font-size:$fsize + 12;   
            padding:12px 0;    
        }
        p{
            font-size:$fsize - 1;
            line-height:22px;
        }
    }    
}

.form-group{
    label{
        font-size:$fsize - 3;
        color:lighten($black, 50%);
    }
    .form-control{
        font-size:$fsize - 1;
    }
}

.userprofile-row{
    min-height:700px;

    .user-leftNav{
        @include shadowbot;
        min-height:700px;

        @include mob{
            min-height:auto;
        }

        ul{
            li{
                a{
                    font-size:$fsize -1 ;
                    color:$black;
                    padding:10px 25px;
                    display:block;
                    @include transition;                    

                    &:hover{
                        background:$blue;
                        color:$white;
                    } 
                }
            }
        }
       
    }

    .user-profile-rt{
        @include shadowbot;
        min-height:700px;
        background:$white;
        padding:25px;

        .profile-title{
            border-bottom:1px solid lighten($black, 65%);
            padding-bottom:15px;

            .h3{
                font-size:$fsize + 7;
            }
           
        }

        a{
            color:$black;
            @include transition;

            &:hover{
                color:$orange;
            }
        }

        .figure-user{
            width:145px;
            margin:0 auto;

            img{
                width:140px;
                height:140px;
                border-radius:50%;
                border:5px solid $white;
                @include shadowbot;
                @include objectfitcover;
            }
            .edit-pic{
                @include positionall(inherit, inherit, 15px, 45%);
                width:25px;
                height:25px;
                background:$white;
                border-radius:50%;
                @include shadowbot;
                text-align:center;
                padding:3px;
                line-height:25px;                

                .icomoon{
                    font-size:$fsize;
                    color:$black;
                }
            }
        }

        //myorder list item 
        .myorder-list-item{
            padding:25px 0;
            border-bottom:1px solid lighten($black, 80%);
            margin-bottom:15px;

            .basic-details-col{
                .h5{
                    font-size:$fsize ;                 
                   @extend .fsbold;
                }
                p{
                    font-size:$fsize - 1;                   
                }
            }
        }
    }    
}

.contact-col{
    .icon-col{
        position:relative;
        margin-bottom:40px;
        &:before{
          content:'';
          width:50px;
          height:2px;
          background:$blue;
          @include positionall(inherit, inherit, -25px, 50%);
          margin-left:-25px;
        }
        .icomoon{
            font-size:$fsize * 4;
            color:$blue;
        }
    } 
 }

 .contact-form{
     @include shadowbot;
 }

 .faq-item{
     padding:15px 0;
     border-bottom:1px solid lighten($black, 65%);
     margin-bottom:15px;

     p{
         font-size:$fsize - 1;
         @extend .fgray;
         line-height:22px;
     }
 }

 .accordion{
    h1 {
        border-bottom: 1px solid #ececec;
        font-weight: 300;
        margin-bottom: 2em;
        padding-bottom: 1em;
        text-align: center;
      }
      h1 span {
        display: block;
        font-size: .5em;
      }
      a {
        border-bottom: 1px solid #ec407a;
        color: #607d8b;
        text-decoration: none;
      }
      a:hover,
      a:focus {
        color: #ec407a;
        border-bottom: none;
      }
      h3 {
        font-weight: 500;
        background:$white;
        @include shadowbot;
        padding:0 20px;
        font-size:$fsize;
        margin-bottom:18px;
      }
      .intro {
        font-size: 1.25em;
      }
      .js .panel-title {
        margin: 0;
      }
      .panel-title a {
        border-bottom: none;
        color: #292929;
        display: block;
        padding: 1.25em 0;
        position: relative;
        text-decoration: none;
        -webkit-transition: color 200ms ease 0s;
        -moz-transition: color 200ms ease 0s;
        transition: color 200ms ease 0s;
        width: 100%;
      }
      .panel-title a .icon {
        color: #9e9e9e;
        position: absolute;
        right: 0;
        -webkit-transition: all 200ms ease 0s;
        -moz-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;
      }
      .panel-title a:hover,
      .panel-title a:focus {
        color: #37474f;
      }
      .panel-title a:hover .icon,
      .panel-title a:focus .icon {
        color: $blue!important;
      }
      .panel-title a.active {
        color: $blue!important;
      }
      .panel-title a.active .icon {
        color: $blue!important;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      .js .accordion {
        border-bottom: 1px solid #ececec;
        margin: 2em 0;
      }
      .accordion .panel-title a {
        border-top: 1px solid #ececec;
      }
      [id^="panel-"] {
        padding-bottom: 2em;
      }
 }

 .staticpage{
     .h3{
         padding-bottom:15px;
     }    
 }

 .table-headerrow{
     border-top:1px solid lightgray;
     border-bottom:1px solid lightgray;
     padding-top:10px;

     @include mob{
         display:none;
     }
     @include mlscape{
        display:none;
    }
 }

 .address-item{
     @include mob{
         .form-check{
             padding-left:0;
             top:-16px;
         }
     }
 }

 .cartlist-itemrow{      
    border-bottom:1px solid lightgray;

     input[type="number"]{
         width:50px;
         text-align:center;
        
     }
     .cartimteimg{
         width:30%;
         margin-right:15px;    
     }
     .cart-item-details{
         p{
             font-size:$fsize - 1;
         }
     }
 }



 .cartcard{
    .bggray{
        background:lightgray;       
    }
 }

 .stepper{
     .multisteps-form__title{
         font-size:$fsize + 3;
         background:$blue;
         padding:7px;
         color:$white;
         
     }
    .multisteps-form__progress {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
      }
      
      .multisteps-form__progress-btn {
        transition-property: all;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        transition-delay: 0s;
        position: relative;
        padding-top: 20px;
        color: rgba(108, 117, 125, 0.7);
        text-indent: -9999px;
        border: none;
        background-color: transparent;
        outline: none !important;
        cursor: pointer;
      }
      @media (min-width: 500px) {
        .multisteps-form__progress-btn {
          text-indent: 0;
        }
      }
      .multisteps-form__progress-btn:before {
        position: absolute;
        top: 0;
        left: 50%;
        display: block;
        width: 13px;
        height: 13px;
        content: '';
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
        transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
        transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
        border: 2px solid currentColor;
        border-radius: 50%;
        background-color: #fff;
        box-sizing: border-box;
        z-index: 3;
      }
      .multisteps-form__progress-btn:after {
        position: absolute;
        top: 5px;
        left: calc(-50% - 13px / 2);
        transition-property: all;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        transition-delay: 0s;
        display: block;
        width: 100%;
        height: 2px;
        content: '';
        background-color: currentColor;
        z-index: 1;
      }
      .multisteps-form__progress-btn:first-child:after {
        display: none;
      }
      .multisteps-form__progress-btn.js-active {
        color: #007bff;
      }
      .multisteps-form__progress-btn.js-active:before {
        -webkit-transform: translateX(-50%) scale(1.2);
                transform: translateX(-50%) scale(1.2);
        background-color: currentColor;
      }
      
      .multisteps-form__form {
        position: relative;
      }
      
      .multisteps-form__panel {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        opacity: 0;
        visibility: hidden;
        @include shadowbot;
      }
      .multisteps-form__panel.js-active {
        height: auto;
        opacity: 1;
        visibility: visible;
      }
      .multisteps-form__panel[data-animation="scaleOut"] {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
      }
      .multisteps-form__panel[data-animation="scaleOut"].js-active {
        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: linear;
        transition-delay: 0s;
        -webkit-transform: scale(1);
                transform: scale(1);
      }
      .multisteps-form__panel[data-animation="slideHorz"] {
        left: 50px;
      }
      .multisteps-form__panel[data-animation="slideHorz"].js-active {
        transition-property: all;
        transition-duration: 0.25s;
        transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
        transition-delay: 0s;
        left: 0;
      }
      .multisteps-form__panel[data-animation="slideVert"] {
        top: 30px;
      }
      .multisteps-form__panel[data-animation="slideVert"].js-active {
        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: linear;
        transition-delay: 0s;
        top: 0;
      }
      .multisteps-form__panel[data-animation="fadeIn"].js-active {
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: linear;
        transition-delay: 0s;
      }
      .multisteps-form__panel[data-animation="scaleIn"] {
        -webkit-transform: scale(0.9);
                transform: scale(0.9);
      }
      .multisteps-form__panel[data-animation="scaleIn"].js-active {
        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: linear;
        transition-delay: 0s;
        -webkit-transform: scale(1);
                transform: scale(1);
      }      
 }

 .address-item{
     @include transition;
     padding:15px;
     &:hover{
         background:lighten($black, 95%);

         .editicon{
            display:block;
        }
        .btn-deliver{
            display:inline-block;
        }
     }
     p{
         line-height:23px;
         font-size:$fsize - 1;
         color:lighten($black, 50%);
     }
     .btn-deliver, .editicon{
         display:none;
         @include transition;
     }
 }

 .checkout-row{
     padding:15px 0;
     border-bottom:1px solid lightgray;
 }

 .h6{
     line-height:26px;
 }

 .payment-success{
    padding-top:5%;
 }

 .blog-main{
    min-height:600px;
    padding-top:80px;

    @include mlscape{
        padding-top:80px;
    }
    @include mob{
        padding-top:80px;
    }
 }

 .blogcard{
     margin-bottom:25px;
     min-height:460px;   
    
     img{
        min-height:220px;
        max-height:220px;
         @include objectfitcover;
     }
 }

 footer.footer-blog{
    background:$white;

    .socialnav {
        .nav-link{
            background:$blue;
           .icomoon{
            color:$white;
           }

           &:hover{
               background:$orange;
           }
        }
    }
    p{
        color:lighten($black, 50%);  
    }

    .subscribe{
        width:600px;
        margin:10px auto;

        .form-group{
            @include mob{
                flex-wrap: wrap;
            }
        }

        @include mob{
            width:100%;
        }

        input[type="text"]{
            width:80%;

            @include mob{
                width:100%;
              
            }
        }
        button{
            width:20%;

            @include mob{
                width:100%;
                margin-top:20px;
            }
        }
    }    
 }

 .blog-detail{

   
     p{
         padding-bottom:15px;
     }
     h1, h2{
         padding-bottom:10px;

         @include mob{
             font-size:$fsize * 2;
         }
     }
     .resp-tab-content{
         box-shadow: none;
         border:1px solid #eee;
     }
 }
 .view-jayanthi{
     width:98%;
     margin:2% auto;
 }

 .jayanthi-detail{
    width:98%;
    margin:2% auto;

    .swiper-button-next:after, 
    .swiper-button-prev:after{
        background:$white;
        font-size:$fsize + 2;
        padding:10px;
    }

    .swiper-slide{
        position:relative;
        cursor: pointer;

        .pagenumber{
            @include positionall(50%, inherit, inherit, 50%);
            width:40px;
            height:40px;
            background:rgba(0,0,0,0.65);
            border-radius:50%;
            text-align:center;
            line-height:35px;
            font-size:$fsize - 2;
            color:$white;
            margin:-25px 0 0 -20px;
        }
    }
 }

 #typed2{
     display:block;
     height:60px;
 }

 .rtpic-col{
     position:relative;
     padding-top:410px;

     @include mob{
         padding-top:0;
     }
     @include tab{
        padding-top:0;
    }
 }


  @keyframes clip1{
    0%{clip-path: polygon(0% -50%, 50% -50%, -50% 50%, -100% 50% );}
    100%{clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);}
  }
  @keyframes clipa{
    0%{clip-path: polygon(-5% -55%, 55% -45%, -45% 55%, -95% 55% );}
    100%{clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);}
  }
  @keyframes clip2{
    0%{clip-path: polygon(50% -50%, 100% -50%, 200% 50%, 150% 50%);}
    100%{clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);}
  }
  @keyframes clipb{
    0%{clip-path: polygon(40% -60%, 100% -50%, 190% 40%, 150% 50%);}
    100%{clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);}
  }
  @keyframes clip3{
    0%{clip-path: polygon(-100% -150%, -50% -150%, -150% -50%, -200% -50%);}
    100%{clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);}
  }
  @keyframes clip4{
    0%{clip-path: polygon(150% -150%, 200% -150%, 300% -50%, 250% -50%);}
    100%{clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);}
  }
  .clip{
      border-radius:50%;
     @include positionall(inherit,0,0,inherit);
      width:360px;
      height:360px;
      background: url(../img/velchala-primaryimg.jpg)no-repeat center center;
      transform-origin:center;
      border:20px solid $white;

      @include mob{
          display:none;
          width:300px;
          height:300px;
      }
      @include tab{
        display:none;
        width:300px;
        height:300px;
    }
  }
  #clip1 { animation:clip1 4s linear infinite; }
  #clipa {
      transform: scale(1.1,1.1);
      animation:clipa 9s linear infinite;  
  }
  #clip2 {
      transform: scale(1.12,1.12); 
      animation:clip2 5s linear infinite;  
  }
  #clipb {
      transform: scale(1.14,1.14);
      animation:clipb 4s linear infinite;  
  }
  #clip3 {
      transform: scale(1.15,1.15);
      animation:clip3 7s linear infinite;  
  }
  #clip4 {
      transform: scale(1.13,1.13);
      animation:clip4 6s linear infinite;  
  }

  .articlecard{
      margin:15px 0;
      min-height:275px;

      p{
          padding-bottom:20px;
      }
      .card-header{
          font-size:$fsize + 5;
          @extend .fsbold;
          position:relative;

          .badge{
              @include positionall(0,0,inherit,inherit);
          }
      }
  }

  .vspimg{
      @include mob{
          width:100%;
          height:250px;
          @include objectfitcover;
      }
  }

  .publications-filters{
      display:flex;
      .form-group{
          width:100%;
          margin:0 5px;
      }
  }

  .wishlistItem{
      border-bottom:1px solid #eee;
  }

  .no-data{
  margin:20px auto;
  }

  .search-block{
      #searchResult{
          background:$white;
          padding:10px;
      }
  }


  

  


  


