@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

::-webkit-input-placeholder {
  font-size: 13px;
}

:-ms-input-placeholder {
  font-size: 13px;
}

::-ms-input-placeholder {
  font-size: 13px;
}

::placeholder {
  font-size: 13px;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format("woff2"), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format("woff");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -moz-osx-font-smoothing: grayscale;
}

i {
  cursor: pointer;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  background: #F8FCFD;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
}

.h5 {
  line-height: 30px;
}

.whitebox {
  background: #ffffff;
}

::-webkit-input-placeholder {
  font-size: 14px !important;
  color: #b3b3b3 !important;
}

:-ms-input-placeholder {
  font-size: 14px !important;
  color: #b3b3b3 !important;
}

::-ms-input-placeholder {
  font-size: 14px !important;
  color: #b3b3b3 !important;
}

::placeholder {
  font-size: 14px !important;
  color: #b3b3b3 !important;
}

.blue-btn {
  background: #00539B;
  padding: 6px 30px;
  border-radius: 25px;
  color: #ffffff;
  font-size: 15px;
  display: inline-block;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  border: 1px solid transparent;
  cursor: pointer;
}

.blue-btn:hover {
  background: #ffffff;
  color: #00539B;
  padding: 6px 30px;
  border: 1px solid #00539B;
}

.orange-btn {
  background: #F68338;
  padding: 6px 30px;
  border-radius: 25px;
  color: #ffffff;
  font-size: 15px;
  display: inline-block;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  border: 1px solid transparent;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 575px) {
  .orange-btn {
    padding: 6px 20px;
  }
}

.orange-btn:hover {
  background: #ffffff;
  color: #F68338;
  padding: 6px 30px;
  border: 1px solid #F68338;
}

@media (min-width: 320px) and (max-width: 575px) {
  .orange-btn:hover {
    padding: 6px 20px;
  }
}

input.orange-btn:focus {
  outline: none;
  border: none;
}

.orange-btn-border {
  background: #ffffff;
  padding: 6px 30px;
  border-radius: 25px;
  color: #F68338;
  font-size: 15px;
  display: inline-block;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  border: 1px solid #F68338;
}

.orange-btn-border:hover {
  background: #F68338;
  color: #ffffff !important;
  padding: 6px 30px;
  border: 1px solid transparent;
}

.ptregular, .vspcol .article-div h3, .title-section .h4, .home-poems .h5, main.subpage-main .subpage-header h1, main.subpage-main .velchalaHeader h1, main.subpage-main .velchalaHeader p, .singleScroll .singleBody h2, .singleScroll .singleBody h3, .singleScroll .singleBody h4 {
  font-family: 'PT Serif', serif;
  font-weight: 400;
}

.ptbold {
  font-family: 'PT Serif', serif;
  font-weight: 700;
}

.flight {
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

.fsbold, .home-slider .video-section .text-video h1, .vspcol .article-div .h6, .title-section p, .price .offer, .book-item article a, .book-top-detail .book-detail-rt .book-specs .speccol dl dt, .userprofile-row .user-profile-rt .myorder-list-item .basic-details-col .h5, .articlecard .card-header {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.bgorange {
  background: #F68338;
}

.forange {
  color: #F68338;
}

.fblue {
  color: #00539B;
}

.fwhite {
  color: #ffffff;
}

.fgray, .book-top-detail .book-detail-rt .basic-description, .book-top-detail .book-detail-rt .book-specs .speccol dl dd, .user-reviewrow .user-details-review h4 span, .faq-item p {
  color: gray;
}

.fblack {
  color: #000000;
}

.fgreen {
  color: green !important;
}

.badge {
  font-weight: 400;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cust-container {
  width: 85%;
  margin: 0 auto;
  position: relative;
}

.fixed-theme {
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  padding: 0;
}

.fixed-theme .navbar-brand img {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  width: 150px;
}

.list-items::after {
  display: block;
  content: "";
  clear: both;
}

.list-items li {
  padding-bottom: 10px;
  padding-left: 20px;
  position: relative;
  margin-right: 15px;
  float: left;
}

.list-items li:before {
  content: '';
  background: url(../img/list-img.svg) no-repeat 0 0;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5px;
  right: inherit;
  bottom: inherit;
  left: 0;
}

header {
  background: #ffffff;
  position: relative;
  z-index: 99;
  min-height: 65px;
  padding: 6px 0;
}

header:before {
  content: '';
  background: url(../img/purty-wood.png) repeat 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}

header .search-icon {
  margin-left: 20px;
}

@media (min-width: 768px) and (max-width: 990px) {
  header .search-icon {
    position: relative;
    left: 25%;
  }
}

header .search-icon .icomoon {
  font-size: 20px;
  color: #404040;
}

header .gif-flag {
  position: fixed;
  top: 2px;
  left: 0px;
  z-index: 99;
  display: none;
}

header .gif-flag img {
  width: 100px;
}

header .v-image {
  position: fixed;
  top: 2px;
  right: 0px;
  z-index: 99;
}

header .v-image img {
  width: 75px;
}

header .search-visible {
  background: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  padding: 10px;
  min-height: 55px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  opacity: 0;
}

header .search-visible .form-group {
  width: 95%;
  margin: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .search-visible .form-group {
    width: 85%;
  }
}

header .search-visible .form-group input {
  font-size: 14px;
}

header .search-visible .closeicon {
  width: 5%;
  text-align: center;
}

header .search-visible .closeicon .icomoon {
  font-size: 20px;
  color: gray;
}

header .search-block {
  position: absolute;
  top: -10px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
}

header .navbar-brand img {
  width: 210px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

header .dropdown .navbar-nav .nav-link:hover {
  background: #00539B;
  color: #ffffff !important;
}

header .t-link {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

header .t-link span {
  padding: 2px 8px;
  display: inline-block;
  background: #00539B;
  color: #ffffff;
  border-radius: 5px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  position: relative;
  top: -2px;
}

header .t-link:hover span {
  background: #F68338;
}

header .cart-link {
  position: relative;
  margin: 0 10px;
}

header .cart-link .icomoon {
  font-size: 23px;
  position: relative;
}

header .cart-link .value {
  background: #00539B;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 5px;
  right: 0;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  line-height: 22px;
  color: #ffffff;
  font-size: 13px;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .cart-link .value {
    right: -25px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header .cart-link .value {
    right: -25px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  header .cart-link .value {
    right: -25px;
  }
}

.DynamicChakra {
  opacity: 0;
}

.home-slider {
  width: 100%;
  height: 100vh;
  position: relative;
}

@media (min-width: 768px) and (max-width: 990px) {
  .home-slider {
    height: 60vh;
  }
}

.home-slider .video-section {
  position: relative;
  height: 100vh;
}

@media (min-width: 768px) and (max-width: 990px) {
  .home-slider .video-section {
    height: 60vh;
  }
}

.home-slider .video-section .text-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-slider .video-section .text-video {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .home-slider .video-section .text-video {
    display: none;
  }
}

.home-slider .video-section .text-video h1 {
  font-size: 12em;
  letter-spacing: -3px;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  mix-blend-mode: difference;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  text-align: center;
  opacity: 0.5;
}

@media (min-width: 768px) and (max-width: 990px) {
  .home-slider .video-section .text-video h1 {
    font-size: 6em;
  }
}

.home-slider .video-section:after {
  content: '.';
  background: url(../img/bg-trans.png) repeat 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-slider .video-section:after {
    display: none;
  }
}

.home-slider .video-section video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100vh;
}

.home-slider .video-section video source {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.home-slider .video-section .move-top-video {
  width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  top: inherit;
  right: inherit;
  bottom: 20%;
  left: 50%;
  margin-left: -30px;
  z-index: 999;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.home-slider .video-section .move-top-video:hover {
  position: absolute;
  top: inherit;
  right: inherit;
  bottom: 20%;
  left: 50%;
}

.home-slider .video-section .move-top-video .icomoon {
  color: #ffffff;
  font-size: 45px;
}

.home-slider .ashokaChakra {
  position: fixed;
  width: 500px;
  height: 500px;
  top: 20%;
  z-index: 99;
  right: -250px;
}

.home-slider .ashokaChakra img {
  width: 100%;
  opacity: 0.2;
  -webkit-animation-name: chakraAnimation;
          animation-name: chakraAnimation;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
  -webkit-transition-duration: 25s;
          transition-duration: 25s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-slider .ashokaChakra img {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-slider .ashokaChakra {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .home-slider .ashokaChakra {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .home-slider .ashokaChakra {
    display: none;
  }
}

@-webkit-keyframes chakraAnimation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes chakraAnimation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.vspcol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vspcol .img-div {
  width: 40%;
}

@media (min-width: 768px) and (max-width: 990px) {
  .vspcol .img-div {
    display: none;
  }
}

.vspcol .article-div {
  width: 60%;
  padding: 20px !important;
}

@media (min-width: 320px) and (max-width: 575px) {
  .vspcol .article-div {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .vspcol .article-div {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .vspcol .article-div {
    width: 100%;
  }
}

.vspcol .article-div .h6 {
  font-size: 16px;
  color: #00539B;
}

.vspcol .article-div h3 {
  font-size: 45px;
}

.vspleft {
  background: #F5EDE6;
}

@media (min-width: 320px) and (max-width: 575px) {
  .vspleft {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .vspleft .img-div {
    display: none;
  }
}

.vsprt {
  background: #DBE8E5;
}

@media (min-width: 320px) and (max-width: 575px) {
  .vsprt {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .vsprt .img-div {
    text-align: center;
    margin: 10px auto;
  }
}

.vsprt .img-div img {
  height: 100%;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .vsprt .img-div img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}

.publications {
  padding: 25px 0;
  background: #ffffff;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
}

.home-gallery {
  padding: 25px 0;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
}

.home-gallery .title-section .h4 {
  background: #F8FCFD;
}

.title-section {
  text-align: center;
  position: relative;
  z-index: 10;
  margin-bottom: 25px;
}

.title-section .h4 {
  font-size: 35px;
  text-align: center;
  background: #ffffff;
  display: inline-block;
  padding: 6px 12px;
}

.title-section .h4:before {
  content: '';
  width: 100%;
  height: 1px;
  background: gray;
  position: absolute;
  top: 30px;
  right: 0;
  bottom: inherit;
  left: 0;
  z-index: -1;
}

.title-section p {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #00539B;
  font-size: 14px;
}

.home-poems {
  background: url(../img/poems-bg.jpg) no-repeat 0 0;
  background-size: cover;
  padding: 60px 0 0 0;
  position: relative;
}

.home-poems:before {
  content: '';
  background: #F68338;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}

.home-poems .h5 {
  font-size: 35px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

.home-poems .poems-container {
  position: relative;
}

.home-poems .poems-container article {
  min-height: 300px;
}

.home-poems .poems-container article p {
  font-size: 15px;
  font-style: italic;
  padding-bottom: 50px;
  color: #ffffff;
}

.home-poems .poems-container .swiper-button-next, .home-poems .poems-container .swiper-button-prev {
  width: 45px;
  height: 45px;
  border: 1px solid #00539B;
  border-radius: 50%;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  margin-top: 30px;
}

.home-poems .poems-container .swiper-button-next:hover, .home-poems .poems-container .swiper-button-prev:hover {
  background: #00539B;
  color: #ffffff;
}

.home-poems .poems-container .swiper-button-next:after, .home-poems .poems-container .swiper-button-prev:after {
  font-size: 20px;
}

.home-poems .poems-container .swiper-button-next {
  right: 43%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-poems .poems-container .swiper-button-next {
    right: 23%;
    margin-top: 60px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .home-poems .poems-container .swiper-button-next {
    right: 33%;
    margin-top: 60px;
  }
}

.home-poems .poems-container .swiper-button-prev {
  left: 43%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-poems .poems-container .swiper-button-prev {
    left: 23%;
    margin-top: 60px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .home-poems .poems-container .swiper-button-prev {
    left: 33%;
    margin-top: 60px;
  }
}

footer {
  background: #00539B;
  padding: 30px 0;
  position: relative;
}

footer .nav {
  margin-bottom: 50px;
}

footer .nav .nav-link {
  color: #ffffff;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

footer .nav .nav-link:hover {
  color: #F68338;
}

footer p {
  color: #ffffff;
  padding-bottom: 0;
}

footer .termsnav {
  margin-bottom: 20px;
}

footer .termsnav .nav-link {
  font-size: 13px;
  color: #F68338;
  font-style: italic;
}

footer .termsnav .nav-link:hover {
  color: #ffffff;
}

footer .socialnav {
  margin-bottom: 0;
}

footer .socialnav .nav-link {
  width: 40px;
  height: 40px;
  background: #ffffff;
  margin: 0 5px;
  border-radius: 50%;
}

footer .socialnav .nav-link:hover {
  background: #F68338;
}

footer .socialnav .nav-link:hover .icomoon {
  color: #ffffff;
}

footer .socialnav .nav-link .icomoon {
  color: #000000;
}

footer .movetop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 53px;
  display: none;
  background: #F68338;
  z-index: 999;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

footer .movetop:hover {
  background: #00539B;
}

footer .movetop .icomoon {
  font-size: 21px;
  color: #ffffff;
}

.home-publications .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 240px;
  height: 355px;
  display: block;
}

.home-publications .swiper-slide .img-box {
  width: 100%;
  height: 355px;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.home-publications .swiper-slide .img-box img {
  width: 100%;
}

.home-publications .swiper-slide .img-box:hover:before {
  content: '';
  background: #000000;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.home-publications .swiper-slide .img-box:hover .hover-section {
  bottom: 45%;
  opacity: 1;
}

.home-publications .swiper-slide .img-box .hover-section {
  text-align: center;
  position: absolute;
  bottom: 45%;
  z-index: 9;
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.home-publications .swiper-slide .img-box .hover-section a {
  width: 45px;
  height: 45px;
  background: #ffffff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin: 0 2px;
  line-height: 50px;
}

.home-publications .swiper-slide .img-box .hover-section a .icomoon {
  font-size: 20px;
  color: #000000;
}

.home-publications .swiper-slide .book-details {
  width: 100%;
  padding: 10px;
  background: #ffffff;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home-publications .swiper-slide .book-details p {
  font-size: 14px;
  color: #00539B;
  padding-top: 3px;
  margin-bottom: 0;
}

.home-publications .swiper-pagination {
  bottom: 0 !important;
  display: none;
}

.book-pop-article {
  padding: 10px;
}

.book-pop-article .h6 {
  font-size: 18px;
  color: #00539B;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.book-pop-article p {
  font-size: 14px;
}

.list-dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.list-dl dt {
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  padding: 2px 25px 2px 10px;
  width: 40%;
}

.list-dl dd {
  color: #737373;
  padding: 2px;
}

.great-people {
  margin-top: -100px;
}

.great-people .swiper-slide img {
  width: 100px;
}

.price-single {
  display: inline-block;
}

.price-single:before {
  content: "\f156";
  font-family: 'icomoon' !important;
  font-size: 15px;
  position: relative;
  top: 2px;
  left: -2px;
}

.price {
  margin: 0;
  padding: 0;
}

.price .offer {
  font-size: 17px;
  color: #F68338;
  margin-right: 10px;
  display: inline-block;
}

.price .offer:before {
  content: "\f156";
  font-family: 'icomoon' !important;
  color: #F68338;
  font-size: 17px;
  position: relative;
  top: 2px;
  left: -2px;
}

.price .oldprice {
  font-size: 13px;
  color: gray;
  text-decoration: line-through;
}

.price .oldprice:before {
  content: "\f156";
  font-family: 'icomoon' !important;
  color: gray;
  font-size: 13px;
  position: relative;
  top: 1px;
  left: -2px;
}

main.subpage-main {
  min-height: 1000px;
  padding-top: 60px;
}

main.subpage-main .subpage-header {
  background: -webkit-gradient(linear, left top, right top, from(#00539B), to(#F68338));
  background: linear-gradient(90deg, #00539B, #F68338 100%);
  background-position: 50% 50%;
  padding: 60px 0 20px 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  main.subpage-main .subpage-header {
    padding: 20px 0 20px 0;
  }
}

main.subpage-main .subpage-header h1 {
  font-size: 35px;
  color: #ffffff;
}

main.subpage-main .subpage-header nav .breadcrumb {
  background: none;
  padding-left: 0;
  padding-top: 0;
}

main.subpage-main .subpage-header nav .breadcrumb .breadcrumb-item:before {
  color: #ffffff;
}

main.subpage-main .subpage-header nav .breadcrumb .breadcrumb-item a {
  color: #ffffff;
  font-size: 13px;
}

main.subpage-main .subpage-header nav .breadcrumb .active {
  color: #ffffff;
}

main.subpage-main .subpage-header nav .breadcrumb .active span {
  border-bottom: 1px solid #ffffff;
  font-size: 13px;
}

main.subpage-main .subpage-body p {
  text-align: justify;
  margin-bottom: 0;
  padding-bottom: 15px;
}

main.subpage-main .velchalaHeader {
  height: 600px;
}

main.subpage-main .velchalaHeader:before {
  content: '';
  width: 100%;
  height: 760px;
  position: absolute;
  top: -12em;
  right: inherit;
  bottom: inherit;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#07A1BA), to(#26E5D8));
  background: linear-gradient(90deg, #07A1BA, #26E5D8 100%);
  background-position: 50% 50%;
  background-origin: padding-box;
  background-size: auto;
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
}

@media (min-width: 320px) and (max-width: 575px) {
  main.subpage-main .velchalaHeader:before {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  main.subpage-main .velchalaHeader:before {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
}

main.subpage-main .velchalaHeader article {
  padding-top: 20%;
}

@media (min-width: 320px) and (max-width: 575px) {
  main.subpage-main .velchalaHeader article {
    padding-top: 10%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  main.subpage-main .velchalaHeader article {
    padding-top: 10%;
  }
}

main.subpage-main .velchalaHeader h1 {
  font-size: 55px;
  color: #000000;
}

@media (min-width: 320px) and (max-width: 575px) {
  main.subpage-main .velchalaHeader h1 {
    font-size: 35px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  main.subpage-main .velchalaHeader h1 {
    font-size: 35px;
  }
}

main.subpage-main .velchalaHeader p {
  font-size: 20px;
  color: #ffffff;
}

@media (min-width: 320px) and (max-width: 575px) {
  main.subpage-main .velchalaHeader p {
    font-size: 15px;
  }
}

main.subpage-main .velchalaHeader .velchala-fig {
  text-align: center;
  width: 380px;
  height: 380px;
  position: absolute;
  top: 40px;
  right: -10px;
  bottom: inherit;
  left: inherit;
  text-align: center;
  z-index: 9;
}

@media (min-width: 320px) and (max-width: 575px) {
  main.subpage-main .velchalaHeader .velchala-fig {
    width: 300px;
    height: 300px;
    position: relative;
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  main.subpage-main .velchalaHeader .velchala-fig {
    width: 300px;
    height: 300px;
    position: relative;
    margin-top: 20px;
  }
}

main.subpage-main .velchalaHeader .velchala-fig img {
  width: 380px;
  height: 380px;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

@media (min-width: 320px) and (max-width: 575px) {
  main.subpage-main .velchalaHeader .velchala-fig img {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  main.subpage-main .velchalaHeader .velchala-fig img {
    width: 300px;
    height: 300px;
  }
}

.linktext {
  margin: 45px auto;
  width: 70px;
}

.video-testimonil-link {
  background: #ffffff;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  line-height: 50px;
  -webkit-animation: icon-scaleout 1.5s infinite ease-in;
          animation: icon-scaleout 1.5s infinite ease-in;
}

.video-testimonil-link a {
  width: 49px;
  height: 49px;
  background: #00539B;
  display: block;
  border-radius: 50%;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.video-testimonil-link a:hover {
  background: #ffffff;
}

.video-testimonil-link a:hover .icomoon {
  color: #00539B;
}

.video-testimonil-link:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -17px;
  left: -17px;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  opacity: 0.9;
  background: #cccccc;
  -webkit-animation: icon-scaleout 1.5s infinite ease-in;
          animation: icon-scaleout 1.5s infinite ease-in;
}

.video-testimonil-link:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -7px;
  left: -7px;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  opacity: 0.6;
  background: #a6a6a6;
  -webkit-animation: icon-scaleout 1.5s infinite ease-in;
          animation: icon-scaleout 1.5s infinite ease-in;
}

.video-testimonil-link .icomoon {
  font-size: 20px;
  color: #ffffff;
  padding-left: 5px;
  top: 2px;
  position: relative;
}

@-webkit-keyframes icon-scaleout {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes icon-scaleout {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#ytplayer {
  height: 500px;
}

.velchalaspage {
  padding-top: 2rem;
}

.singleScroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
}

@media (min-width: 320px) and (max-width: 575px) {
  .singleScroll {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.singleScroll nav {
  white-space: nowrap;
}

@media (min-width: 320px) and (max-width: 575px) {
  .singleScroll nav {
    width: 100%;
  }
}

.singleScroll nav ul li a {
  display: block;
  padding: 0.65rem 3rem 0.65rem 1rem;
  color: #000000;
  text-decoration: none;
  background: #b5dcff;
  border-radius: 5px;
  margin-bottom: 5px;
  border-left: 5px solid #0289ff;
}

.singleScroll nav ul li a.current {
  background: #00539B;
  border-left: 5px solid #003868;
  color: #ffffff;
}

.singleScroll .singleBody {
  padding-bottom: 2rem;
}

.singleScroll .singleBody h2 {
  background: #00539B;
  color: #ffffff;
  font-size: 25px;
  padding: 15px;
}

.singleScroll .singleBody h3 {
  font-size: 20px;
  color: #333333;
  line-height: 32px;
}

.singleScroll .singleBody h4 {
  font-size: 20px;
  line-height: 32px;
}

.singleScroll section {
  padding: 0 0 1rem 2rem;
  margin: 0 0 1rem 0;
  min-height: 350px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .singleScroll section {
    padding: 0 0 1rem 0;
  }
}

@media (min-height: 350px) {
  .singleScroll nav ul {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

.top-vsp {
  background: url(../img/orange-img.png) no-repeat right center;
  min-height: 200px;
  margin-top: -100px;
  position: relative;
}

span.label {
  background: #00539B;
  padding: 5px 10px;
  color: #ffffff;
  font-size: 13px;
  font-style: italic;
}

.orangebg {
  background: #F68338;
}

.vspban img {
  width: 188px;
  height: 188px;
  border-radius: 50%;
  border: 10px solid #ffffff;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  margin-bottom: 10px;
}

.vspmaster {
  background: url(../img/orange-img2.png) no-repeat left center;
}

.sort {
  border-bottom: 1px solid #e6e6e6;
  padding: 5px 0;
}

.sort select.form-control {
  padding: 0 10px;
  font-size: 14px;
  line-height: 20px;
}

.wishlisticon, .book-item figure.bookcover .wishlist-icon, .book-top-detail .book-detail-rt .wishlist-icon {
  width: 35px;
  height: 35px;
  background: #ffffff;
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: inherit;
  left: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
}

.wishlisticon:hover, .book-item figure.bookcover .wishlist-icon:hover, .book-top-detail .book-detail-rt .wishlist-icon:hover {
  background: #00539B;
}

.wishlisticon:hover .icomoon, .book-item figure.bookcover .wishlist-icon:hover .icomoon, .book-top-detail .book-detail-rt .wishlist-icon:hover .icomoon {
  color: #ffffff;
}

.wishlisticon .icomoon, .book-item figure.bookcover .wishlist-icon .icomoon, .book-top-detail .book-detail-rt .wishlist-icon .icomoon {
  font-size: 17px;
  color: #000000;
}

.book-item {
  margin-bottom: 15px;
}

.book-item figure.bookcover {
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
  min-height: 300px;
}

.book-item figure.bookcover img {
  width: 100%;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  min-height: 380px;
  max-height: 380px;
  -o-object-fit: cover;
     object-fit: cover;
}

.book-item figure.bookcover .badge {
  position: absolute;
  top: 10px;
  right: inherit;
  bottom: inherit;
  left: 10px;
}

.book-item article {
  text-align: center;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  padding: 14px 10px;
}

.book-item article a {
  color: #000000;
  font-size: 15px;
}

.book-item article a:hover {
  color: #00539B;
}

.book-item:hover article {
  background: #ffffff;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
}

.book-item:hover figure.bookcover img {
  -webkit-transform: scale(1.02, 1.02);
          transform: scale(1.02, 1.02);
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
}

.book-item:hover figure.bookcover .wishlist-icon {
  background: #00539B;
}

.book-item:hover figure.bookcover .wishlist-icon .icomoon {
  color: #ffffff;
}

.alert {
  display: none;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9999;
  width: 500px;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
}

@media (min-width: 320px) and (max-width: 575px) {
  .alert {
    right: inherit;
    width: 95%;
  }
}

.book-top-detail {
  margin-top: -35px;
}

.book-top-detail .figure-detail {
  margin: 0;
  text-align: center;
}

.book-top-detail .figure-detail img {
  padding: 50px;
  border: 1px solid #e6e6e6;
}

@media (min-width: 320px) and (max-width: 575px) {
  .book-top-detail .figure-detail img {
    padding: 0;
    border: none;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .book-top-detail .book-detail-rt .wishlist-icon {
    top: -60px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .book-top-detail .book-detail-rt .wishlist-icon {
    top: -60px;
  }
}

.book-top-detail .book-detail-rt .price .offer {
  font-size: 20px !important;
}

.book-top-detail .book-detail-rt .price .offer:before {
  font-size: 20px !important;
}

.book-top-detail .book-detail-rt .basic-description {
  line-height: 25px;
}

.book-top-detail .book-detail-rt .book-specs {
  padding: 20px 0;
}

.book-top-detail .book-detail-rt .book-specs .speccol dl {
  margin: 0;
  padding: 7px 0;
}

.book-top-detail .book-detail-rt .book-specs .speccol dl dt {
  font-size: 15px;
  line-height: 16px;
}

.book-top-detail .book-detail-rt .book-specs .speccol dl dd {
  font-size: 13px;
  margin: 0;
}

.book-top-detail .book-detail-rt .qty {
  width: 60px;
}

.postlogin-namethumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  margin-right: 10px;
}

.social-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 25px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .social-share .span-share {
    width: 100%;
  }
}

.social-share .sharesocial {
  width: 27px;
  height: 27px;
  border-radius: 5px;
  margin: 0 5px;
  display: inline-block;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.social-share .sharesocial .icomoon {
  font-size: 36px;
}

.social-share .sharesocial:hover {
  opacity: 0.6;
}

.social-share .icon-facebook-square {
  color: #3B5998;
}

.social-share .icon-twitter-square {
  color: #03A9F4;
}

.social-share .icon-linkedin-square {
  color: #0077B5;
}

.social-share .icon-instagram {
  color: #C13584;
}

.social-share .icon-whatsapp {
  color: #4AC959;
}

.social-share .icon-pinterest-square {
  color: #BD081C;
}

.custom-tab {
  margin: 35px 0;
}

.custom-tab .resp-tabs-list li {
  background: #eee;
  text-transform: uppercase;
}

.custom-tab .resp-tab-content {
  border: none;
  background: #ffffff;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  padding: 40px;
  min-height: 350px;
}

.custom-tab .resp-tab-content p {
  padding-bottom: 20px;
}

.custom-tab .resp-tab-active {
  border: none !important;
  background: #00539B !important;
  color: #ffffff;
}

.similar-books {
  margin: 35px 0;
}

.user-reviewrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
}

.user-reviewrow figure {
  width: 10%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .user-reviewrow figure {
    width: auto;
  }
}

.user-reviewrow .user-details-review {
  width: 90%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .user-reviewrow .user-details-review {
    width: 100%;
    padding-left: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .user-reviewrow .user-details-review {
    width: 100%;
    padding-left: 15px;
  }
}

.user-reviewrow .user-details-review .stars-rating {
  margin-bottom: 10px;
}

.user-reviewrow .user-details-review h4 span {
  font-size: 13px;
  padding-left: 25px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .user-reviewrow .user-details-review h4 span {
    width: 100%;
    display: inline-block;
    padding-left: 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .user-reviewrow .user-details-review h4 span {
    width: 100%;
    display: inline-block;
    padding-left: 0;
  }
}

.user-reviewrow .user-details-review p {
  color: #999999;
  line-height: 24px;
}

.sm-thumb {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
}

@media (min-width: 320px) and (max-width: 575px) {
  .sm-thumb {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .sm-thumb {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .sm-thumb {
    width: 40px;
    height: 40px;
  }
}

.stars-rating li {
  padding: 0 2px;
}

.stars-rating li .icomoon {
  color: #00539B;
  font-size: 16px;
}

.leave-review {
  margin: 15px 0 40px 0;
}

.leave-review textarea {
  height: 100px;
  font-size: 15px;
}

.rating .selected {
  color: #00539B;
}

.novideos-row .icomoon {
  font-size: 60px;
}

.video-col {
  margin-bottom: 15px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.video-col p {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  padding: 5px 10px;
  margin-top: -10px;
}

.video-col:hover p {
  background: #ffffff;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
}

.video-col iframe {
  height: 185px;
}

.video-col p {
  font-size: 15px -2;
  line-height: 24px;
}

.albumitem article {
  text-align: left;
}

.albumitem article .h5 a {
  font-size: 17px;
}

.albumitem article .h5 a:hover {
  color: #00539B;
}

.albumitem article .icomoon {
  color: #00539B;
}

.albumitem .photosnumber {
  background: #00539B;
  border-radius: 0;
  color: #ffffff;
  padding: 7px;
}

.loginrt {
  background: url(../img/loginrtimg.jpg) no-repeat 0 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: none !important;
}

.login-section {
  width: 352px;
  height: auto;
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 575px) {
  .login-section {
    width: 98%;
    margin: 15% auto;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .login-section {
    width: 98%;
    margin: 15% auto;
  }
}

.login-section .login-top .brand-login {
  width: 177px;
  margin-bottom: 15px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.login-section .login-top h1 {
  font-size: 27px;
  padding: 12px 0;
}

.login-section .login-top p {
  font-size: 14px;
  line-height: 22px;
}

.form-group label {
  font-size: 12px;
  color: gray;
}

.form-group .form-control {
  font-size: 14px;
}

.userprofile-row {
  min-height: 700px;
}

.userprofile-row .user-leftNav {
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  min-height: 700px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .userprofile-row .user-leftNav {
    min-height: auto;
  }
}

.userprofile-row .user-leftNav ul li a {
  font-size: 15px -1;
  color: #000000;
  padding: 10px 25px;
  display: block;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.userprofile-row .user-leftNav ul li a:hover {
  background: #00539B;
  color: #ffffff;
}

.userprofile-row .user-profile-rt {
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  min-height: 700px;
  background: #ffffff;
  padding: 25px;
}

.userprofile-row .user-profile-rt .profile-title {
  border-bottom: 1px solid #a6a6a6;
  padding-bottom: 15px;
}

.userprofile-row .user-profile-rt .profile-title .h3 {
  font-size: 22px;
}

.userprofile-row .user-profile-rt a {
  color: #000000;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.userprofile-row .user-profile-rt a:hover {
  color: #F68338;
}

.userprofile-row .user-profile-rt .figure-user {
  width: 145px;
  margin: 0 auto;
}

.userprofile-row .user-profile-rt .figure-user img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
}

.userprofile-row .user-profile-rt .figure-user .edit-pic {
  position: absolute;
  top: inherit;
  right: inherit;
  bottom: 15px;
  left: 45%;
  width: 25px;
  height: 25px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  text-align: center;
  padding: 3px;
  line-height: 25px;
}

.userprofile-row .user-profile-rt .figure-user .edit-pic .icomoon {
  font-size: 15px;
  color: #000000;
}

.userprofile-row .user-profile-rt .myorder-list-item {
  padding: 25px 0;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 15px;
}

.userprofile-row .user-profile-rt .myorder-list-item .basic-details-col .h5 {
  font-size: 15px;
}

.userprofile-row .user-profile-rt .myorder-list-item .basic-details-col p {
  font-size: 14px;
}

.contact-col .icon-col {
  position: relative;
  margin-bottom: 40px;
}

.contact-col .icon-col:before {
  content: '';
  width: 50px;
  height: 2px;
  background: #00539B;
  position: absolute;
  top: inherit;
  right: inherit;
  bottom: -25px;
  left: 50%;
  margin-left: -25px;
}

.contact-col .icon-col .icomoon {
  font-size: 60px;
  color: #00539B;
}

.contact-form {
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
}

.faq-item {
  padding: 15px 0;
  border-bottom: 1px solid #a6a6a6;
  margin-bottom: 15px;
}

.faq-item p {
  font-size: 14px;
  line-height: 22px;
}

.accordion h1 {
  border-bottom: 1px solid #ececec;
  font-weight: 300;
  margin-bottom: 2em;
  padding-bottom: 1em;
  text-align: center;
}

.accordion h1 span {
  display: block;
  font-size: .5em;
}

.accordion a {
  border-bottom: 1px solid #ec407a;
  color: #607d8b;
  text-decoration: none;
}

.accordion a:hover,
.accordion a:focus {
  color: #ec407a;
  border-bottom: none;
}

.accordion h3 {
  font-weight: 500;
  background: #ffffff;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  padding: 0 20px;
  font-size: 15px;
  margin-bottom: 18px;
}

.accordion .intro {
  font-size: 1.25em;
}

.accordion .js .panel-title {
  margin: 0;
}

.accordion .panel-title a {
  border-bottom: none;
  color: #292929;
  display: block;
  padding: 1.25em 0;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 200ms ease 0s;
  transition: color 200ms ease 0s;
  width: 100%;
}

.accordion .panel-title a .icon {
  color: #9e9e9e;
  position: absolute;
  right: 0;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
}

.accordion .panel-title a:hover,
.accordion .panel-title a:focus {
  color: #37474f;
}

.accordion .panel-title a:hover .icon,
.accordion .panel-title a:focus .icon {
  color: #00539B !important;
}

.accordion .panel-title a.active {
  color: #00539B !important;
}

.accordion .panel-title a.active .icon {
  color: #00539B !important;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.accordion .js .accordion {
  border-bottom: 1px solid #ececec;
  margin: 2em 0;
}

.accordion .accordion .panel-title a {
  border-top: 1px solid #ececec;
}

.accordion [id^="panel-"] {
  padding-bottom: 2em;
}

.staticpage .h3 {
  padding-bottom: 15px;
}

.table-headerrow {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding-top: 10px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .table-headerrow {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .table-headerrow {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .address-item .form-check {
    padding-left: 0;
    top: -16px;
  }
}

.cartlist-itemrow {
  border-bottom: 1px solid lightgray;
}

.cartlist-itemrow input[type="number"] {
  width: 50px;
  text-align: center;
}

.cartlist-itemrow .cartimteimg {
  width: 30%;
  margin-right: 15px;
}

.cartlist-itemrow .cart-item-details p {
  font-size: 14px;
}

.cartcard .bggray {
  background: lightgray;
}

.stepper .multisteps-form__title {
  font-size: 18px;
  background: #00539B;
  padding: 7px;
  color: #ffffff;
}

.stepper .multisteps-form__progress {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.stepper .multisteps-form__progress-btn {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  position: relative;
  padding-top: 20px;
  color: rgba(108, 117, 125, 0.7);
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
}

@media (min-width: 500px) {
  .stepper .multisteps-form__progress-btn {
    text-indent: 0;
  }
}

.stepper .multisteps-form__progress-btn:before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 13px;
  height: 13px;
  content: '';
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  -webkit-transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 3;
}

.stepper .multisteps-form__progress-btn:after {
  position: absolute;
  top: 5px;
  left: calc(-50% - 13px / 2);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  display: block;
  width: 100%;
  height: 2px;
  content: '';
  background-color: currentColor;
  z-index: 1;
}

.stepper .multisteps-form__progress-btn:first-child:after {
  display: none;
}

.stepper .multisteps-form__progress-btn.js-active {
  color: #007bff;
}

.stepper .multisteps-form__progress-btn.js-active:before {
  -webkit-transform: translateX(-50%) scale(1.2);
  transform: translateX(-50%) scale(1.2);
  background-color: currentColor;
}

.stepper .multisteps-form__form {
  position: relative;
}

.stepper .multisteps-form__panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
}

.stepper .multisteps-form__panel.js-active {
  height: auto;
  opacity: 1;
  visibility: visible;
}

.stepper .multisteps-form__panel[data-animation="scaleOut"] {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.stepper .multisteps-form__panel[data-animation="scaleOut"].js-active {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.stepper .multisteps-form__panel[data-animation="slideHorz"] {
  left: 50px;
}

.stepper .multisteps-form__panel[data-animation="slideHorz"].js-active {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
          transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  left: 0;
}

.stepper .multisteps-form__panel[data-animation="slideVert"] {
  top: 30px;
}

.stepper .multisteps-form__panel[data-animation="slideVert"].js-active {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  top: 0;
}

.stepper .multisteps-form__panel[data-animation="fadeIn"].js-active {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.stepper .multisteps-form__panel[data-animation="scaleIn"] {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.stepper .multisteps-form__panel[data-animation="scaleIn"].js-active {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.address-item {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  padding: 15px;
}

.address-item:hover {
  background: #f2f2f2;
}

.address-item:hover .editicon {
  display: block;
}

.address-item:hover .btn-deliver {
  display: inline-block;
}

.address-item p {
  line-height: 23px;
  font-size: 14px;
  color: gray;
}

.address-item .btn-deliver, .address-item .editicon {
  display: none;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.checkout-row {
  padding: 15px 0;
  border-bottom: 1px solid lightgray;
}

.h6 {
  line-height: 26px;
}

.payment-success {
  padding-top: 5%;
}

.blog-main {
  min-height: 600px;
  padding-top: 80px;
}

@media (min-width: 576px) and (max-width: 767px) {
  .blog-main {
    padding-top: 80px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .blog-main {
    padding-top: 80px;
  }
}

.blogcard {
  margin-bottom: 25px;
  min-height: 460px;
}

.blogcard img {
  min-height: 220px;
  max-height: 220px;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
}

footer.footer-blog {
  background: #ffffff;
}

footer.footer-blog .socialnav .nav-link {
  background: #00539B;
}

footer.footer-blog .socialnav .nav-link .icomoon {
  color: #ffffff;
}

footer.footer-blog .socialnav .nav-link:hover {
  background: #F68338;
}

footer.footer-blog p {
  color: gray;
}

footer.footer-blog .subscribe {
  width: 600px;
  margin: 10px auto;
}

@media (min-width: 320px) and (max-width: 575px) {
  footer.footer-blog .subscribe .form-group {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  footer.footer-blog .subscribe {
    width: 100%;
  }
}

footer.footer-blog .subscribe input[type="text"] {
  width: 80%;
}

@media (min-width: 320px) and (max-width: 575px) {
  footer.footer-blog .subscribe input[type="text"] {
    width: 100%;
  }
}

footer.footer-blog .subscribe button {
  width: 20%;
}

@media (min-width: 320px) and (max-width: 575px) {
  footer.footer-blog .subscribe button {
    width: 100%;
    margin-top: 20px;
  }
}

.blog-detail p {
  padding-bottom: 15px;
}

.blog-detail h1, .blog-detail h2 {
  padding-bottom: 10px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .blog-detail h1, .blog-detail h2 {
    font-size: 30px;
  }
}

.blog-detail .resp-tab-content {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #eee;
}

.view-jayanthi {
  width: 98%;
  margin: 2% auto;
}

.jayanthi-detail {
  width: 98%;
  margin: 2% auto;
}

.jayanthi-detail .swiper-button-next:after,
.jayanthi-detail .swiper-button-prev:after {
  background: #ffffff;
  font-size: 17px;
  padding: 10px;
}

.jayanthi-detail .swiper-slide {
  position: relative;
  cursor: pointer;
}

.jayanthi-detail .swiper-slide .pagenumber {
  position: absolute;
  top: 50%;
  right: inherit;
  bottom: inherit;
  left: 50%;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  font-size: 13px;
  color: #ffffff;
  margin: -25px 0 0 -20px;
}

#typed2 {
  display: block;
  height: 60px;
}

.rtpic-col {
  position: relative;
  padding-top: 410px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .rtpic-col {
    padding-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .rtpic-col {
    padding-top: 0;
  }
}

@-webkit-keyframes clip1 {
  0% {
    -webkit-clip-path: polygon(0% -50%, 50% -50%, -50% 50%, -100% 50%);
            clip-path: polygon(0% -50%, 50% -50%, -50% 50%, -100% 50%);
  }
  100% {
    -webkit-clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
            clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
  }
}

@keyframes clip1 {
  0% {
    -webkit-clip-path: polygon(0% -50%, 50% -50%, -50% 50%, -100% 50%);
            clip-path: polygon(0% -50%, 50% -50%, -50% 50%, -100% 50%);
  }
  100% {
    -webkit-clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
            clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
  }
}

@-webkit-keyframes clipa {
  0% {
    -webkit-clip-path: polygon(-5% -55%, 55% -45%, -45% 55%, -95% 55%);
            clip-path: polygon(-5% -55%, 55% -45%, -45% 55%, -95% 55%);
  }
  100% {
    -webkit-clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
            clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
  }
}

@keyframes clipa {
  0% {
    -webkit-clip-path: polygon(-5% -55%, 55% -45%, -45% 55%, -95% 55%);
            clip-path: polygon(-5% -55%, 55% -45%, -45% 55%, -95% 55%);
  }
  100% {
    -webkit-clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
            clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
  }
}

@-webkit-keyframes clip2 {
  0% {
    -webkit-clip-path: polygon(50% -50%, 100% -50%, 200% 50%, 150% 50%);
            clip-path: polygon(50% -50%, 100% -50%, 200% 50%, 150% 50%);
  }
  100% {
    -webkit-clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
            clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
  }
}

@keyframes clip2 {
  0% {
    -webkit-clip-path: polygon(50% -50%, 100% -50%, 200% 50%, 150% 50%);
            clip-path: polygon(50% -50%, 100% -50%, 200% 50%, 150% 50%);
  }
  100% {
    -webkit-clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
            clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
  }
}

@-webkit-keyframes clipb {
  0% {
    -webkit-clip-path: polygon(40% -60%, 100% -50%, 190% 40%, 150% 50%);
            clip-path: polygon(40% -60%, 100% -50%, 190% 40%, 150% 50%);
  }
  100% {
    -webkit-clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
            clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
  }
}

@keyframes clipb {
  0% {
    -webkit-clip-path: polygon(40% -60%, 100% -50%, 190% 40%, 150% 50%);
            clip-path: polygon(40% -60%, 100% -50%, 190% 40%, 150% 50%);
  }
  100% {
    -webkit-clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
            clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
  }
}

@-webkit-keyframes clip3 {
  0% {
    -webkit-clip-path: polygon(-100% -150%, -50% -150%, -150% -50%, -200% -50%);
            clip-path: polygon(-100% -150%, -50% -150%, -150% -50%, -200% -50%);
  }
  100% {
    -webkit-clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
            clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
  }
}

@keyframes clip3 {
  0% {
    -webkit-clip-path: polygon(-100% -150%, -50% -150%, -150% -50%, -200% -50%);
            clip-path: polygon(-100% -150%, -50% -150%, -150% -50%, -200% -50%);
  }
  100% {
    -webkit-clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
            clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
  }
}

@-webkit-keyframes clip4 {
  0% {
    -webkit-clip-path: polygon(150% -150%, 200% -150%, 300% -50%, 250% -50%);
            clip-path: polygon(150% -150%, 200% -150%, 300% -50%, 250% -50%);
  }
  100% {
    -webkit-clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
            clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
  }
}

@keyframes clip4 {
  0% {
    -webkit-clip-path: polygon(150% -150%, 200% -150%, 300% -50%, 250% -50%);
            clip-path: polygon(150% -150%, 200% -150%, 300% -50%, 250% -50%);
  }
  100% {
    -webkit-clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
            clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
  }
}

.clip {
  border-radius: 50%;
  position: absolute;
  top: inherit;
  right: 0;
  bottom: 0;
  left: inherit;
  width: 360px;
  height: 360px;
  background: url(../img/velchala-primaryimg.jpg) no-repeat center center;
  -webkit-transform-origin: center;
          transform-origin: center;
  border: 20px solid #ffffff;
}

@media (min-width: 320px) and (max-width: 575px) {
  .clip {
    display: none;
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .clip {
    display: none;
    width: 300px;
    height: 300px;
  }
}

#clip1 {
  -webkit-animation: clip1 4s linear infinite;
          animation: clip1 4s linear infinite;
}

#clipa {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-animation: clipa 9s linear infinite;
          animation: clipa 9s linear infinite;
}

#clip2 {
  -webkit-transform: scale(1.12, 1.12);
          transform: scale(1.12, 1.12);
  -webkit-animation: clip2 5s linear infinite;
          animation: clip2 5s linear infinite;
}

#clipb {
  -webkit-transform: scale(1.14, 1.14);
          transform: scale(1.14, 1.14);
  -webkit-animation: clipb 4s linear infinite;
          animation: clipb 4s linear infinite;
}

#clip3 {
  -webkit-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
  -webkit-animation: clip3 7s linear infinite;
          animation: clip3 7s linear infinite;
}

#clip4 {
  -webkit-transform: scale(1.13, 1.13);
          transform: scale(1.13, 1.13);
  -webkit-animation: clip4 6s linear infinite;
          animation: clip4 6s linear infinite;
}

.articlecard {
  margin: 15px 0;
  min-height: 275px;
}

.articlecard p {
  padding-bottom: 20px;
}

.articlecard .card-header {
  font-size: 20px;
  position: relative;
}

.articlecard .card-header .badge {
  position: absolute;
  top: 0;
  right: 0;
  bottom: inherit;
  left: inherit;
}

@media (min-width: 320px) and (max-width: 575px) {
  .vspimg {
    width: 100%;
    height: 250px;
    object-fit: cover;
    -moz-object-fit: cover;
    -webkit-object-fit: cover;
    -ms-object-fit: cover;
    -o-object-fit: cover;
  }
}

.publications-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.publications-filters .form-group {
  width: 100%;
  margin: 0 5px;
}

.wishlistItem {
  border-bottom: 1px solid #eee;
}

.no-data {
  margin: 20px auto;
}

.search-block #searchResult {
  background: #ffffff;
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */