.yt-video-background {
	position: absolute;
	background: #000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -99;
	
}

.yt-video-background .yt-video-background-image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-background-position: center;
	-moz-background-position: center;
	-o-background-position: center;
	background-position: center;
	-webkit-background-repeat: no-repeat;
	-moz-background-repeat: no-repeat;
	-o-background-repeat: no-repeat;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

.yt-video-background iframe {
  width: 100%;
  height: 100%;
	pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
	.yt-video-background {
		height: 300%;
		top: -100%;
		
	}
}

@media (max-aspect-ratio: 16/9) {
	.yt-video-background {
		width: 300%;
		left: -100%;
	
	}
}

@media (min-width:320px) and (max-width:445px){
	.yt-video-background{
		background:url(../img/gallery/gal07.JPG)no-repeat center center!important;
		width: 100%;
		left: 0;
	}
}

@media (min-width:446px) and (max-width:1023px){
	.yt-video-background{
		background:url(../img/gallery/gal07.JPG)no-repeat center center!important;
		width: 100%;
		left: 0;
	}
}
